{
  "parser": "babel-eslint",
  "rules": {
    "no-param-reassign": [2, {
      "props": false
    }],
    "react/jsx-filename-extension": [1, {
      "extensions": [".js", ".jsx"]
    }]
  },
  "globals": {
    "window": true
  },
  "extends": [
    "plugin:flowtype/recommended",
    "airbnb"
  ],
  "plugins": [
    "flowtype",
    "react",
    "jsx-a11y",
    "import"
  ]
}
